[submodule "themes/ils"]
	path = themes/ils
	url =https://github.com/WilliamGong/hexo-theme-ils.git
[submodule "themes/black-blue"]
	path = themes/black-blue
	url =https://github.com/WilliamGong/black-blue.git
